body{
    background-color: aliceblue;
}
.section1{
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
    height: auto;
}
.section2{
    
    background-position: center;
    background-size: cover;
    width:100%;
    background-repeat: none;
    height: auto;
}
.navbars{
    background-color: transparent;
    background: transparent;
    border-color: transparent;
}