body{
    background-color: aliceblue;
}
.carousel{
    margin-top: -45px;
}
.section-shop{
    background-position: center;
    background-size: cover;
    width:100%;
    background-repeat: none;
    height: auto;
}

